#container {
	margin: 15px;
	padding-bottom: 25px;
}

#header {
	margin-bottom: 10px;
}

#mainContent {
	padding-bottom: 15px;
}

#footer {
	text-align: center;
	margin: 15px 0;
	padding: 10px;
	
}

/***** Navigation menu *****/
#navigation {
	width: 10%;
	float: left
}

#navigation ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#navigation li {
	display: inline;
	padding-right: 15px;
}

/***** Registration *****/
#registration {
	margin-right: 10px;
	float: right;
}

/***** Login menu *****/
#loginContainer {
	font-family: Verdana;
	width: 20%;
	height: 35px;	/* fixed height to prevent moving of other element after toggle */
	margin-right: 25px;
	float: right;
}

.registrationButton {
	width: 45%;
	margin-left: 10px;
	float: right;
	background-color: #00FF00;
	border: 1px solid blue;
	text-decoration: none;
	cursor: pointer;
}

.registrationButton span {
	display: block;
	color: #000000;
	font-size: 12px;
	font-weight: bold;
	padding: 5px 15px;
	text-align: center;
}

#loginBox {
	display: none;
	position: relative;
	left: -50%;
	z-index: 100;
}

#loginForm {

}

#loginBody {
	margin: 0;
}

#loginBody fieldset {
	padding: 0;
	border: 0;
}

#loginBody fieldset input {
	width: 95%;
	margin: 5px 0;
	padding: 5px;
}

#submitButton {
	width: 50%;
	margin-top: 5px;
	padding: 3px 0;
}

#loginBody label {
	display: block;
	float: none;
}

/***** Error and notification messages *****/

#notificationContainer {
	min-height: 50px;
}

.notification {
	display: inline-block;	/* wraps the text width */
	margin: 10px 0;
	padding: 5px;
	text-align: left;
	font-size: 1.3em;
	list-style-type: none;
}

.error {
	background-color: #DDDDDD;
	color: #FF0000;
}

.info {
	background-color: #00F000;
	color: #000000;
}

/***** User Management Area *****/
table.userList {
	table-layout: fixed;
	width: 75%;
	border: medium solid black;
	border-collapse: collapse;
	text-align: left;
	font-size: 12px;
}

table.userList th {
	height: 50px;
	min-width: 135px;
	border-bottom: medium solid black;
	border-right: medium solid black;
	background-color: #FFAA00;
	font-family: Georgia sans-serif;
	font-size: 2em;
	text-align: left;
	padding-left: 5px;
}



table.userList td {
	height: 35px;
	vertical-align: middle;
	border-bottom: 2px double black;
	border-right: 1px dotted black;
	font-family: monospace;
	font-size: 1.5em;
	word-wrap: break-word;
}

table.userList a {
	text-decoration: none;
	height: 100%;
	padding-left: 5px;
}

table.userList .edit {
	text-align: center;
	
}

/***** Other *****/

.userInput {
	width: 200px;
}

.inputHelp {
	color: #BBBBBB;
}
